body{
	background-color: #fcfad9;
}

a, ol, li, p {
	font-family: Raleway, sans-serif;
}

p{
	margin: 0;
}


h1, h2, h3, h4, h5 {
	margin: 0;
	font-weight: bold; 
	font-family: Raleway, sans-serif;
}

.header {
	background-color: #afdd5f;
	color: white;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
.header-words {
	float: left;
}
.header-logo {
	float: right;
}

.main {
	background-color: #d1cfbc;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: auto;
}

.nav {
	padding: 10px;
	width: 18%;
	float: left;
	clear: both;

}

a {
	color: #4f772e;
}

ul{
	list-style-type: none;
	padding: 0;
}

ol{
	padding: 13px;
}


.selected {
	font-weight: bold;
}

.content {
	width: 70%;
	padding: 10px; 
	float: right;	
}

.footer {
	background-color: #afdd5f;
	padding: 10px;
	width: 80%;
	clear: both;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.blogpost {
	padding 10px;
	padding-bottom: 20px;
}

